Flask
Flask-Cors
websockets

# Core ML / DL
torch
torchvision
torchaudio
timm
numpy
scikit-learn

# Computer Vision & media
opencv-contrib-python
mediapipe
Pillow

# Data & SciPy stack
pandas
scipy

# Files / Paths
pathlib2

# TTS (used by server/tts-transcript.py)
pyttsx3